extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    each office in result.offices
      li #{office.name} - #{office.location}

  a(class='navButton' href='/navigation') Campus Navigator