body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navigation select, .navigation label {
  display: block;
}

.navigation label {
  margin: 0.5em 0;
}

#go {
  margin-top: 1em;
}

#map {
  margin-top: 1em;
  width: 100%;
  height: 300px;
}

#error {
  color: red;
}

.home-button {
  display: inline-block;
  margin-top: 2em;
}

section + section {
  margin-top: 1em;
}