doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Floor Four
    body 
        include #mixins 
        section  
            h1 Floor Four Offices
        main 
            ul 
                +name('English Language Services')
                +phone('(312) 567 - 5220')
                +email('els@iit.edu')
                +location('4C9-1')