doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Floor Two
        link(rel='stylesheet', href='style.css', type='text/css')
    body 
        include #mixins 
        section 
            h1 Floor Two Offices 
        main 
            ul 
                +name('Financial Aid')
                +phone('(312) 567 - 7219')
                +email('finaid@iit.edu')
                +location('Suite 2C4-2')
                li If you’ve experienced financial hardship or unexpected expenses during the past year, the Office of Financial Aid may be able to help.

            ul  
                +name('Office of the Registrar')
                +phone('(312) 567 - 3100')
                +fax('(312) 567 - 3313')
                +email('registrar@iit.edu')
                +location('Suite 2C4-2')
                li The Office of the Registrar serves as the official data steward of institutional academic information and student records to support the needs of students, faculty, staff, and alumni at Illinois Institute of Technology. The office maintains accurate, timely, and secure information to support and enforce academic policy, registration, grading, enrollment and degree certification, course information, the production of diplomas and official transcripts, and other related university functions. Our knowledgeable and helpful staff are dedicated to providing courteous and professional service.

            ul 
                +name('Office of Title IX Compliance and HEA Compliance')
                +phone('(312) 567 - 5725')
                +location('Room 2D7-1')
                li The Office of Compliance oversees Illinois Institute of Technology’s adherence to both the Title IX Act of 1972 and the Higher Education Act of 1965. Under Title IX, Illinois Tech has a responsibility to prevent, report, and respond to gender- and sex-based discrimination including sexual harassment and sexual misconduct. Title IV of the Higher Education Act authorizes programs that provide student financial assistance.

            ul 
                +name('Student Accounting')
                +phone('(312) 567 - 3794')
                +email('sa@iit.edu')
                +location('Suite 2C4-2')
                li The Office of Student Accounting is here to serve you. Our office hours are Monday thru Friday 8:30 a.m. – 5 p.m.. To support social distancing protocols, and to help you safely work with our team, we have expanded our capacity to offer remote support.

            ul 
                +name('Undergraduate Academic Affairs')
                +phone('(312) 567 - 3300')
                +fax('(312) 567 - 3302')
                +email('ugaa@iit.edu')
                +location('Suite 2C8-1')
                li The Office of Undergraduate Academic Affairs is responsible for the implementation and enforcement of undergraduate academic policies, the completion of academic standing review, degree audits and degree conferrals, communication with and support of undergraduate students, and the identification of campus resources as appropriate to student needs.
