doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Floor Thirteen 
        link(rel='stylesheet', href='style.css', type='text/css')
    body 
        include #mixins 
        section    
            h1 Floor Thirteen Offices 
        main 
            ul 
                +name('Human Resources')
                +phone('(312) 567 - 3318')
                +fax('(312) 567 - 3450')
                +email('hr@iit.edu')
                +location('13th Floor')
                +des('Human Resources areas of work include talent acquisition, talent management and development, learning & development, onboarding and acclimation, HR information system management, culture building, diversity/equity/inclusion initiatives, and engagement.')
                
            
            ul 
                +name('Office of Marketing and Communications')
                +phone('(312) 567 - 3104')
                +location('Suite 13D8-2')
                +des('The Office of Marketing and Communications, the in-house marketing and communications agency at Illinois Tech, specializes in finding strategic, creative, and innovative ways to tell the Illinois Tech story. The Marketing and Communications has two main goals:')
                +des('To increase the overall visibility of the university through strategic marketing (paid and unpaid) communication plans, which also include direct outreach to local and national media outlets')
                +des('To help increase enrollment goals with our partnerships with the offices of Undergraduate and Graduate Admission through strategic communication plans that include email, print, social media (paid and unpaid campaigns), photography and videos, and website updates')
           
            ul 
                +name('Procurement Services')
                +phone('(312) 567 - 3211')
                +location('13th Floor')
                +des('The Mission of Procurement Services is to support the purpose and strategic vision of the Illinois Institute of Technology through all procurement related efforts, including, responsible stewardship of university resources, customer-oriented services, collaborative partnerships with campus, and efficient, effective, and compliant processes, to ensure the strategic and sustainable procurement of goods and services in accordance with Federal, State, and University laws and regulations to minimize risk and maximize value for all stakeholders.')

            ul 
                +name('Research Administration Services')
                +phone('(312) 567 - 7013')
                +location('13th Floor')
                +des('Research Administration Services (RAS) serves Illinois Tech research investigators, department administrators, and our partner research support offices by proactively providing post-award planning and administrative support to those involved in sponsored research.')
                +des('RAS operates on a portfolio model, where each grant is assigned to one of our team members. The RAS team will monitor spending, meet regularly with stakeholders, and serve as a resource to connect researchers with administrative support throughout campus.')
            
            ul 
                +name('Student Employment Office')
                +phone('(312) 567 - 5729')
                +fax('(312) 567 - 5700')
                +email('seo1@iit.edu')
                +location('13F-3')
                +des('The Student Employment Office at Illinois Institute of Technology seeks to support and improve all aspects of on-campus employment for students and their faculty and staff supervisors by establishing standardized practices and procedures, developing resources for training and evaluation, and enforcing compliance with institutional policies and federal regulations.')
