doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Floor Three
        link(rel='stylesheet', href='style.css', type='text/css')
    body 
        include #mixins 
        section 
            h1 Floor Three Offices 
        main 
            ul 
                +name('Student Health and Wellness Center')
                +phone('(312) 567 - 7550')
                +fax('(312) 567 - 5702')
                +email('student.health@iit.edu')
                +location('3rd Floor')
                P Need a prescription or medical care? Stressed out and just want to talk? The Illinois Institute of Technology Student Health and Wellness Center is dedicated to your total well-being. Contact us at 312.567.7550 or student.health@iit.edu.
