doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Floor Nine
    body 
        include #mixins 
        section 
            h1 Floor Nine Offices 
        main 
            ul 
                +name('Office of Community Affairs and Outreach Programs')
                +phone('(312) 567 - 8850')
                +fax('(312) 567 - 5103')
                +email('community@iit.edu')
                +location('Suite 9C5-1')
                li The university, through the Office of Community Affairs, seeks to be the connective tissue linking the Illinois Tech community with the organizations, businesses, and individuals looking to make positive change in Bronzeville and the surrounding communities.