doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Floor Eighteen
        link(rel='stylesheet', href='style.css', type='text/css')
    body 
        include #mixins 
        section 
            h1 Floor Eighteen Offices 
        main 
            ul 
                +name('Food Science and Nutrition')
                +phone('(312) 567 - 5059')
                +email('fdsn@iit.edu')
                +location('18th Floor')
                +des('The Department of Food Science and Nutrition prepares its graduates for careers that involve the application of science, technology, engineering, and regulatory compliance to address current food- and health-related issues. Its unique programs provide foundational instruction in food science and nutrition with contemporary practical training in topics pertinent to the food, manufacturing, pharma/biotech, and agricultural industries, including operations management, computation and data analytics, regulatory compliance, and design thinking.')
