doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Floor One
    body 
        include #mixins
        section
            h1 Floor One Offices 
        main 
            
            ul
                +name('Lewis College of Science and Letters')
                +phone('(312) 567 - 3956')
                +email('lewis@iit.edu')
                +location('1st Floor')
                li  Lewis College of Science and Letters is home to seven academic departments and a multitude of research labs and centers working at the intersection of humanity and technology. Our academic programs are grounded in rigor and relevance, providing students special preparation to succeed in fields that require exceptional application of knowledge.
            
            ul 
                +name('Office of the General Counsel')
                +phone('(312) 567 - 3006')
                +fax('(312) 567 - 6931')
                +location('Suite 1900-SW')
                li  The Office of General Counsel is responsible for providing legal advice and representation to the university and to faculty and staff acting in their roles as representatives of the university. This advice and representation covers such matters as defending employment decisions; drafting and reviewing contracts; interpreting and updating policies and procedures; and providing counsel on compliance with federal, state and local laws and regulations. Matters relating to affirmative action and risk management are also handled in this office.

             
            ul 
                +name('Office of the President')
                +location('Suite 1900')
                li Meet Raj Echambadi, the 10th president of Illinois Institute of Technology.

            ul 
                +name('Office of the Provost')
                +phone('(312) 567 - 3163')
                +fax('(312) 567 - 3110')
                +location('Suite 1900')
                li Meet Peter Kilpatrick, provost and senior vice president for academic affairs at Illinois Tech.