doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Floor Sixteen
        link(rel='stylesheet', href='style.css', type='text/css')
    body 
        include #mixins 
        section 
            h1 Floor Sixteen Offices 
        main 
            ul 
                +name('Wanger Institute for Sustainable Energy Research (WISER)')
                +phone('(312) 567 - 6881')
                +fax('(312) 567 - 3622')
                +email('wiser@iit.edu')
                +location('16th Floor')
                +des('Launched in 2008, Illinois Institute of Technology’s Wanger Institute for Sustainable Energy Research (WISER) represents the culmination of the university’s research endeavors in the area of energy and sustainability. Illinois Tech traces its roots in the energy arena to the 1940s and its affiliation with the Institute of Gas Technology, which in 1985 led to a partnership with the Gas Research Institute and the formation of an energy research program at Illinois Tech. ')
                +des('The mission of WISER is to continue to improve the quality of life, to positively impact society, and to contribute to the pathway to a net-zero carbon society and sustainable economy, while preserving our natural resources and the environment for future generations. The fulfillment of this mission will reduce our dependence on fossil fuels and, at the same time, provide sufficient and affordable sources of clean energy and water.')
