doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Floor Sixteen
        link(rel='stylesheet', href='style.css', type='text/css')
    body 
        include #mixins 
        section 
            h1 Floor Sixteen Offices 
        main 
            ul 
                +name('Wanger Institute for Sustainable Energy Research (WISER)')
                +phone('(312) 567 - 6881')
                +fax('(312) 567 - 3622')
                +email('wiser@iit.edu')
                +location('16th Floor')
