doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Floor Fourteen
        link(rel='stylesheet', href='style.css', type='text/css')
    body 
        include #mixins 
        section 
            h1 Floor Fourteen Offices
        main 
            ul 
                +name('Center for Stochastic Dynamics')
                +location('14th Floor')
                +des("The Center's mission is to partner with relevant units of Illinois Tech community to conduct impactful research and innovation in data-driven predictive modeling and simulation for systems under uncertainty, and emerging stochastic dynamics and data science techniques inspired by science and engineering advances.")

            ul 
                +name('Center for Study of Ethics in the Professions')
                +phone('(312) 567 - 3017')
                +location('14th Floor')
                +des('To educate students as responsible professionals, to reflect on the wider implications of scientific progress, and to contribute to the shaping of technology in accordance with fundamental human values.')
           
            ul
                +name('College of Computing')
                +phone('(312) 567 - 3800')
                +location('14th Floor')
                +des('Discover and explore cutting-edge advancements in computer science, modern fields of applied mathematics, and the latest in information and industrial technologies at Illinois Tech’s College of Computing. We educate students to be not only fluent in advanced data sciences and tech, but also to become future innovators and thought leaders in these fields.')
                +des('You will find hands-on, real-world experience by working with faculty who are pushing the boundaries of artificial intelligence, cybersecurity, big data, cloud computing, manufacturing, and more. Our applied mathematics faculty are leading breakthroughs in applied analysis, computational mathematics, discrete applied mathematics, statistics, and stochastics.')
                +des('The College of Computing continues Illinois Tech’s mission to provide talented and motivated students from diverse backgrounds with a one-of-a-kind academic experience. Students who have a passion for computing and tech will find no better place to study than at Illinois Tech, Chicago’s only tech-focused university.')
