doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Floor Twelve
        link(rel='stylesheet', href='style.css', type='text/css')
    body 
        include #mixins
        section 
            h1 Floor Twelve Offices 
        main 
            ul  
                +name('Center for Leadership Studies')
                +phone('(312) 567 - 7972')
                +email('leadership.academy@iit.edu')
                +location('12th Floor')
                +des("Illinois Institute of Technology's strategic plan, Many Voices, One Vision, includes the strategic priority “to produce graduates who have discipline-specific expertise and who are also known for their ability to collaborate, create, innovate, initiate, and lead.”")
                +des('To help the university reach its strategic goal, the Center for Leadership Studies will develop resources and implement programs that are needed to create a culture that is supportive of identifying and developing emerging leaders throughout Illinois Tech’s academic and alumni community and to raise the public’s awareness of the leaders being developed at the university.')
            
            ul 
                +name('Center for Research and Service')
                +phone('(312) 567 - 6471')
                +email('center@iit.edu')
                +location('Suite 1200')
                +des('Originally formed in 1996, the Center for Research and Service (CRS) has evolved into one of the country’s unique graduate student training centers. In 2005, the center merged with the Department of Psychology’s Institute for Psychological Services, a behavioral consulting bureau originally founded in 1945 to provide career counseling and executive selection. Over the last 20 years, CRS has developed strong track record of providing organizations and individuals with meaningful behavioral metrics, feedback, and strategies designed to enhance their personnel/organizational performance.')
                +des('Partnering with our clients, we leverage the experience and talents of our internationally recognized faculty and emerging graduate scholars to develop custom solutions using proven methodology grounded in research. The strategic alliances we develop provide the framework for producing lasting and verifiable results for our clients.')
