doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Floor Fifteen
        link(rel='stylesheet', href='style.css', type='text/css')
    body 
        include #mixins
        section
            h1 Floor Fifteen Offices 
        
        main 
            ul
                +name('Air Force ROTC (AFROTC)')
                +phone('(312) 567 - 3525')
                +fax('(312) 567 - 5902')
                +email('afrotc@iit.edu')
                +location('15th Floor')
                +des('To prepare our cadets for serving in the United States Air Force and Space Force, we strive to provide the best training available. Providing our cadets with not only military resources and opportunities, but also opportunities for academic achievement and personal development. We focus on providing a functional foundation in essential military officer skills including the USAF Core Values, Leadership, Teambuilding, History, Communication Skills, Prioritization, and the ability to perform under pressure.')
            
            ul 
                +name('Army ROTC')
                +phone('(312) 808 - 7140')
                +fax('(312) 808 - 7142')
                +email('armyrotc@iit.edu')
                +location('15th Floor')
                +des('The Chicago Army ROTC Fire Battalion is located in the great city of Chicago, with its headquarters anchored at the University of Illinois at Chicago. There are several universities that students within the Fire Battalion attend for their four-year or five-year academic degrees.')
                +des('Students in the Army ROTC program learn a variety of skills such as leadership, project management, emotional intelligence, critical thinking, land navigation and map reading, and effective communication.  During this time students will test their limits and learn what it means to be ARMY STRONG. Upon completion of their degree program, students will then commission in the United States Army as a second lieutenant and begin a new adventure.')
            
            ul 
                +name('Navy ROTC (NROTC)')
                +phone('(312) 567 - 3530')
                +fax('(312) 567 - 3528')
                +email('nrotc@iit.edu')
                +location('15th Floor')
                +des('The NROTC unit at IIT (with cross town affiliates at University of Illinois at Chicago and Kennedy King College) has been commissioning graduates for over six decades. Located just two miles south of downtown Chicago and one mile from Lake Michigan, IIT/UIC NROTC students have the added benefit of being able to experience life in the second largest city in the United States while studying at one of the most prestigious technical universities in the Midwest.')
