doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Floor Finder
        link(rel='stylesheet', href='style.css', type='text/css')
    body#mainContent
        section#header 
            h1 IIT Tower

        nav#navbar
            ul.navlist
                li#eighteen
                    a(href='floorEighteen.html') Floor 18 
                li#sixteen
                    a(href='floorSixteen.html') Floor 16
                li#fifteen
                    a(href='floorFifteen.html') Floor 15
                li#fourteen
                    a(href='floorFourteen.html') Floor 14
                li#thirteen
                    a(href='floorThirtenn.html') Floor 13
                li#twelve
                    a(href='floorTwelve.html') Floor 12
                li#nine
                    a(href='floorNine.html') Floor 9
                li#seven
                    a(href='floorSeven.html') Floor 7
                li#four
                    a(href='floorFour.html') Floor 4
                li#three
                    a(href='floorThree.html') Floor 3
                li#two
                    a(href='floorTwo.html') Floor 2
                li#one
                    a(href='floorOne.html') Floor 1

        footer
            p Copyright &copy; 2022 by Maria Vo, Sebastian Augusthy, Chia-Chi Chang, Hareem Akram 
                
