doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Floor Finder
        link(rel='stylesheet', href='style.css', type='text/css')
    body 
        section#header 
            h1 IIT Tower

        nav#navbar
            ul.navlist 
                li#three
                    a(href='floorThree.html') Floor 3
                li#two
                    a(href='floorTwo.html') Floor 2
                li#one
                    a(href='floorOne.html') Floor 1

        footer
            p Copyright &copy; 2022
                