doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Floor Finder
    body 
        section#header 
            h1 IIT Tower
        
        nav#navbar
            ul.navlist 
<!-- just some paragraphs
                li  
                    a(href="#")Floor 20
                li
                    a(href="#")Floor 19
                li
                    a(href="#")Floor 18
                li
                    a(href="#")Floor 17
                li
                    a(href="#")Floor 16
                li
                    a(href="#")Floor 15
                li
                    a(href="#")Floor 14
                li
                    a(href="#")Floor 13
                li
                    a(href="#")Floor 12
                li
                    a(href="#")Floor 11
                li
                    a(href="#")Floor 10
                li
                    a(href="#")Floor 9
                li
                    a(href="#")Floor 8
                li
                    a(href="#")Floor 7
                li
                    a(href="#")Floor 6
                li
                    a(href="#")Floor 5
                li
                    a(href="#")Floor 4
-->
                li
                    a(href="#")Floor 3
                li
                    a(href="#")Floor 2
                li
                    a(href="#")Floor 1
                

                    